/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: 'Founders Grotesk Regular', 'Rephlex',  sans-serif;
  padding: 0;
  margin: 0;

}

/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

h1 {
  font-family: 'Rephlex';
  font-weight: normal;
  font-size: 8em;
  margin: 0;
}

h2 {
  font-family: 'Founders Grotesk Bold';
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-family: 'Founders Grotesk Regular';
  font-size: 2em;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-family: 'Founders Grotesk Text Bold';
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

h5 {
  font-family: 'Founders Grotesk Text Regular';
  font-size: 0.5625em;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

p {
  font-family: 'Founders Grotesk Text Regular';
  margin-top: 0;
  font-size: 1em;
  line-height: 145%;
}

form {
  width: 100%;
  background-color: #f7f7f7;
  padding: 48px;
  border-radius: 6px;
}

button {
  background-color: #6066F5;
  border: none;
  color: white;
  margin-top: 32px;
  width: 23.75em;
  height: 4em;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-family: 'PP Neue Montreal';
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: 0.15s;
  
}

button:hover {
  background-color: white;
  color: rgb(21, 20, 26);
  box-shadow: 3px 2px 6px #e2e2e2;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}









