body {
  margin: 0;
  background-color: #738786;
}

a {
  text-decoration: none;
}

img{
  width: 100%;
}

/* NAV BAR --------------------------------- */

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between ;
  padding-top: 1%;
  padding-bottom: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
}

.home-work-bio {
  color: #C2DEDD;
  transition-duration: 0.4s;
}

.home-work-bio:hover {
  color: #F2F2F2;
}

.nav-buttons {
  display: flex;
}

.nav-plus {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plus-animation-nav {
  font-size: 1em;
  color: #C2DEDD;
}

#nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20%;
}

.nav-buttons:hover .plus-animation-nav{
  transform: (-50%, -50%);
	animation: plus-animation 0.3s ease-out;
}

@keyframes plus-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(90deg);
	}
}

/* HOME PAGE -------------------------------- */

#home-page {
  background-image: url('../pics/star-grid.png');
}

.container-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
}

.block-text-projects {
  width: 50%;
  margin-top: 2.5%;
}

.block-aritzia-projects {
  width: 47.5%;
}

.p-text-projects {
  width: 60%;
  margin-top: 10%;
  margin-bottom: 2.5%;
}

.explore {
  font-family: 'Founders Grotesk Text Bold';
  font-size: 1em;
  color: #C2DEDD;
  transition-duration: 0.4s;
}

.explore:hover {
  color: #F2F2F2;
}

/* BIO -------------------------------------- */

.container-bio {
  margin-left: 5%;
  margin-right: 5%;
}

#h2-bio {
  font-size: 8vw;
  line-height: 97% ;
}


/* FOOTER ----------------------------------- */

footer {
  margin-top: 10%;
  padding-top: 7.5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #C2DEDD;
}

.footer-main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12.5%;
  margin-top: 2.5%;
  margin-bottom: 7.5%;
}

.footer-connect {
  display: flex;
  
}

.h2-alternate {
  color: #738786;
}

.h2-connect {
  font-size: 2vw;
  color: #738786;
  transition-duration: 0.4s;
}

.h5-connect {
  color: #738786;
}

.plus-animation-footer {
  font-size: 2vw;
  color: #738786;
}

.footer-connect:hover .plus-animation-footer{
  transform: (-50%, -50%);
	animation: plus-animation 0.3s ease-out;
}

@keyframes plus-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(90deg);
	}
}

/* HEADERS ---------------------------------- */

h1 {
  font-family: 'Rephlex';
  font-weight: normal;
  font-size: 21vw;
  margin: 0;
  margin-top: 54vh;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 68.5%;
  color: #C2DEDD;
}

h2 {
  font-family: 'Founders Grotesk Bold';
  font-size: 7vw;
  font-weight: bold;
  line-height: 78%;
  margin: 0;
  color: #F2F2F2;
}

h3 {
  font-family: 'Founders Grotesk Regular';
  font-size: 1.1em;
  font-weight: normal;
  margin: 0;
  color: #C2DEDD;
}

h4 {
  font-family: 'Founders Grotesk Text Bold';
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  color: #F2F2F2;
}

h5 {
  font-family: 'Founders Grotesk Text Regular';
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  color: #C2DEDD;
}

p {
  font-family: 'Founders Grotesk Text Regular';
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 1em;
  color: #F2F2F2;
}